name: main

on:
  push:
    branches:
      - main
      - release/**
  pull_request:
    branches:
      - main
      - release/**

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.10', '3.11', '3.12', '3.13', '3.14']
    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install tox
        run: pip install tox

      - name: Test
        run: |
          tox -e py -- --tracing=retain-on-failure --screenshot=on \
           --video=retain-on-failure \
           --output ${{ github.workspace }}/playwright-output \
           --enable-html-log \
           --html-output-dir ${{ github.workspace }}/human-output \
           --log-level DEBUG

      - name: Upload Playwright Output
        if: always()
        uses: actions/upload-artifact@v5
        with:
          name: playwright-output-${{ matrix.python-version }}
          path: ${{ github.workspace }}/playwright-output/
          retention-days: 5

      - name: Upload Human Report Output
        if: always()
        uses: actions/upload-artifact@v5
        with:
          name: human-output-${{ matrix.python-version }}
          path: ${{ github.workspace }}/human-output/
          retention-days: 5 