name: main
permissions:
  contents: read

on:
  push:
    branches:
      - main
      - release/**
  pull_request:
    branches:
      - main
      - release/**

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-python@v6
        with:
          python-version: '3.12'
      - uses: pre-commit/action@v3.0.1

  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - python-version: '3.10'
            tox-env: py310
          - python-version: '3.11'
            tox-env: py311
          - python-version: '3.12'
            tox-env: py312
          - python-version: '3.13'
            tox-env: py313
          - python-version: '3.14'
            tox-env: py314

          # Special environments (mapped to a stable python version like 3.12)
          - python-version: '3.12'
            tox-env: py312-pytest8
          - python-version: '3.12'
            tox-env: ruff
    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install tox
        run: pip install tox

      - name: Test
        run: |
          tox -e ${{ matrix.tox-env }} -- --tracing=retain-on-failure --screenshot=on \
           --video=retain-on-failure \
           --output ${{ github.workspace }}/playwright-output \
           --enable-html-log \
           --html-output-dir ${{ github.workspace }}/human-output \
           --log-level DEBUG

      - name: Upload Playwright Output
        if: always()
        uses: actions/upload-artifact@v5
        with:
          name: playwright-output-${{ matrix.python-version }}-${{ matrix.tox-env }}
          path: ${{ github.workspace }}/playwright-output/
          retention-days: 5

      - name: Upload Human Report Output
        if: always()
        uses: actions/upload-artifact@v5
        with:
          name: human-output-${{ matrix.python-version }}-${{ matrix.tox-env }}
          path: ${{ github.workspace }}/human-output/
          retention-days: 5
