name: main

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.10', '3.11', '3.12', '3.13', '3.14']
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install tox
        run: pip install tox

      - name: Test
        run: tox -e py -- --tracing=on --screenshot=on --video=retain-on-failure --output ${{ github.workspace }}/playwright-output

      - name: Upload Playwright Output
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: playwright-output-${{ matrix.python-version }}
          path: ${{ github.workspace }}/playwright-output/
          retention-days: 5